Debug/
Release/
Debug_MD/
Release_MD/
Debug-MD/
Release-MD/
_debug/
_release/
_debug-md/
_release-md/
_debug64x/
_release64x/
_debug64x-md/
_release64x-md/
*-Debug/
*-Release/
obj/
libs/
ipch/

*.ncb
*.opt
*.suo
*.sdf
*.opensdf
*.user
*.idb
*.ilk
*.exp
*.aps
*.bsc
