Debug/
Release/
Debug_MD/
Release_MD/
Debug-MD/
Release-MD/
_debug32/
_release32/
_debug32-md/
_release32-md/
_debug64/
_release64/
_debug64-md/
_release64-md/
*-Debug/
*-Release/
obj/
libs/
ipch/

*.ncb
*.opt
*.suo
*.sdf
*.opensdf
*.user
*.VC.db
*.VC.VC.opendb
*.idb
*.ilk
*.exp
*.aps
*.bsc
