/build/
!/build/_sp_for_vs6/
!/build/DEFINE.txt
!/build/**/*.dsw
!/build/**/*.dsp
!/build/**/*.sln
!/build/**/*.vcxproj
!/build/**/*.vcxproj.filters
!/build/**/*.pro
!/build/**/*.bat
!/build/**/autogen.sh
!/build/**/configure.ac
!/build/**/Makefile.am
!/build/**/Application.mk
!/build/**/Android.mk
.vs/
.vscode/
.idea/
.deps/

*.o
.dirstamp
.DS_Store
